Repository sofinico/arc89-playground: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, check-toml, mdformat, ruff-format, ruff-lint, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: Check YAML syntax
        entry: poetry run check-yaml
        language: system
        types: [yaml]

      - id: check-toml
        name: Check TOML syntax
        entry: poetry run check-toml
        language: system
        types: [toml]

      - id: mdformat
        name: Format Markdown files
        entry: poetry run mdformat
        language: system
        types: [markdown]

      - id: ruff-format
        name: "Run 'ruff format' for extremely fast Python formatting"
        entry: uv run ruff format . --exclude=.venv/
        language: system
        types: [python]

      - id: ruff-lint
        name: "Run 'ruff' for extremely fast Python linting"
        entry: poetry run ruff check
        language: system
        types: [python]
        pass_filenames: true

      - id: mypy
        name: mypy
        description: "`mypy` will check Python types for correctness"
        entry: poetry run mypy
        language: system
        pass_filenames: true
        types_or: [python]
        require_serial: true

chore: create examples dir and add some configs
  .env
  .env.example
  .env.localnet
  .gitignore
  examples/01_create_asa.py
  examples/02_create_metadata.py
  examples/03_get_asa.py
  examples/04_get_metadata.py
  examples/05_delete_asa.py
  poetry.toml
Due: check-toml, ruff-format, ruff-lint, mypy

refactor: prune metadata registry deployment
  scripts/deploy_asa_metadata_registry.py
Due: ruff-format, ruff-lint, mypy

chore: run pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
  scripts/__init__.py
  scripts/create_wallet.py
  scripts/deploy_asa_metadata_registry.py
Due: check-yaml, check-toml, ruff-format, ruff-lint, mypy

refactor: modularize setup into config and utils
  .env.localnet
  .env.testnet
  Makefile
  config.py
  scripts/create_address.py
  scripts/deploy_asa_metadata_registry.py
  setup.py
  utils/__init__.py
  utils/runtime.py
  utils/setup.py
Due: ruff-format, ruff-lint, mypy

chore: docs and env files
  .env.localnet.example
  .env.testnet.example
  .gitignore
  CONTRIBUTING.md
  README.md
Due: mdformat

feat: create asa and adjust configs
  README.md
  config.py
  examples/01_create_asa.py
  examples/__init__.py
  examples/create_asa.py
  utils/runtime.py
Due: mdformat, ruff-format, ruff-lint, mypy

feat: creata metadata
  Makefile
  examples/create_asa.py
  examples/create_metadata.py
Due: ruff-format, ruff-lint, mypy

refactor: prune create metadata and improve existing code
  Makefile
  config.py
  examples/03_get_asa.py
  examples/create_asa.py
  examples/create_metadata.py
  examples/get_asa.py
  utils/__init__.py
  utils/runtime.py
  utils/setup.py
  utils/utils.py
Due: ruff-format, ruff-lint, mypy

refactor: centralize env var management
  .env.example
  .gitignore
  config.py
  examples/create_asa.py
  examples/create_metadata.py
  utils/setup.py
Due: ruff-format, ruff-lint, mypy

feat: get and delete metadata
  Makefile
  README.md
  examples/04_get_metadata.py
  examples/05_delete_asa.py
  examples/create_metadata.py
  examples/delete_asa.py
  examples/delete_metadata.py
  examples/get_metadata.py
  utils/__init__.py
  utils/utils.py
Due: mdformat, ruff-format, ruff-lint, mypy

chore: remove old env files and add faqs
  .env.localnet.example
  .env.testnet.example
  README.md
Due: mdformat

chore: fix some logging
  examples/get_metadata.py
  scripts/create_address.py
Due: ruff-format, ruff-lint, mypy

refactor: revert network configs into separate env files
  .env.example
  .env.localnet.example
  .env.testnet.example
  .gitignore
  Makefile
  README.md
  config.py
  examples/create_asa.py
  scripts/switch_network.py
  utils/setup.py
Due: mdformat, ruff-format, ruff-lint, mypy

feat: improve config and env tamplates
  .env.localnet.example
  .env.testnet.example
  Makefile
  config.py
  utils/setup.py
Due: ruff-format, ruff-lint, mypy

docs: setup instructions
  Makefile
  README.md
Due: mdformat

docs: add guidance improvements and faqs
  Makefile
  README.md
  scripts/create_address.py
Due: mdformat, ruff-format, ruff-lint, mypy

chore: improve arc3 compliance by using sdk helper
  examples/create_metadata.py
Due: ruff-format, ruff-lint, mypy

docs: nit on faqs
  README.md
Due: mdformat

feat: add interactive prompts and non-interactive mode for metadata creation
  README.md
  examples/create_metadata.py
  metadata/example.json
  utils/prompts.py
Due: mdformat, ruff-format, ruff-lint, mypy

docs: add sdk dependency note, link to additional examples and nits
  README.md
Due: mdformat
